<h1> New Movie </h1>

<%= "Must include title" if @movie && @movie.errors.any? %>
<form action='/movies' method="POST">
<p> 
<label for="title"> Title:  <input type="text" name="title" id="title"> </label>
</p>

<p>
<label for="director"> Director: </label> <input type="text" name="director" id="director"> </p>
<p>
<label for="date_watched"> Date you watched the movie: </label> <input type="text" name="date_watched" id="date_watched"> </p>
<p>
<label for="location_watched"> Where you watched the movie: </label> <input type="text" name="location_watched" id="location_watched"> </p>
<p>
<label for="rating"> Your rating(1-10): </label> <input type="text" name="rating" id="rating"> </p>
<p>
<label for="review"> Review: </label> <textarea rows="7" cols="65" type="text"  name="review" id="review"> </textarea></p>
   <button class="button"> <input type="submit" id="submit"> </button>
</form>
