body {
    color: #ffffff;
   /* background-color: #330000; */
   background-color: #231f20;
    font-family: 'Fira Mono', monospace;
   /* cursor: crosshair; */
   cursor: url('/images/raven_png.png'), auto;
  }
  
  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 5%;
   background-image: linear-gradient(50deg, #330000,  #867979);
  }

  nav li{
    float: right;
  }

  nav li a{
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: #111;
  }
  
  
h1 {
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    color: #000000;
    font-family: 'Permanent Marker', cursive;
  }

  div.container h1{
      font-size: 25pt;
      text-align: left;
      margin: 4%;
      padding: 0 4% 4% 4%; 
  }

 h2 {
    font-size: large;
    font-weight: bold;
    text-align: left;
    text-decoration: none; 
    color: #ffffff;
    padding-left: 20px;
  }
  
  p {
    font-size: medium;
    text-align: left;
  }

  div.container {
    padding: 20px;
    font-family: 'Fira Mono', monospace;
    color: #ffffff;
    position: absolute;
    margin-top: 30%;
  }

 div.container ul li {
    font-size: medium;
    border: 5px solid #000000;
    margin-top: 60px;
    list-style-type: none; 
    padding: 20px;
    font-family: 'Fira Mono', monospace;
    color: #ffffff;
  }

  .button{
    border-radius: 15px;
    background-color: #660000; 
    border: none;
    color: white;
    padding: 17px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    background-color: #330000;
    color: #ffffff;
  }

  a{
    font-family: 'Fira Mono', monospace;
    text-decoration: none;
    color: white;
  }
  
  input[type=submit] {
    border-radius: 15px;
    background-color: #660000; 
    font-family: 'Fira Mono', monospace;
    border: none;
    color: white;
    padding: 17px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
  }

  input[type="submit"]:hover {
    background-color: #330000;
    color: #ffffff;
  }

  div.header_image{
    position: absolute;
    top: 0;
    left: 0;
  }

  div.header_image img#red_gradient{
    float: left;
    position: relative;
    top: 0;
    left: 0;
    max-height: 5%;
    max-width: 100%;
    z-index: 2;
  }

  div.header_image img#city_scape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }

  div.header_image img#logo{
    position: absolute; 
    left: 275px;
    top: 15px; 
    max-width: 50%;
    z-index: 4;
  }
 
  img#ghost{
    height: 30%;
    width: 50%;
    margin-top: 5%;
    margin-left: 275px;
    margin-right: auto;
  }
