body {
    color: #ffffff;
    background-color: #330000;
    font-family: 'Fira Mono', monospace;
    cursor: crosshair;
  }
  
 /* nav {
    border-style: none;
    text-align: right;
    background-color: #867979;
  } */

  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 5%;
   /* background-color: #867979; */
   background-image: linear-gradient(50deg, #330000,  #867979);
  }

  nav li{
    float: right;
  }

  nav li a{
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: #111;
  }
  
  
h1 {
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    color: #000000;
    font-family: 'Permanent Marker', cursive;
  }

  div.container h1{
      font-size: 25pt;
      text-align: left;
      margin: 4%;
      padding: 0 4% 4% 4%; 
  }

 h2 {
    font-size: large;
    font-weight: bold;
    text-align: left;
    text-decoration: underline; 
    color: #ffffff;
    padding-left: 20px;
  }
  
  p {
    font-size: medium;
    text-align: left;
  }

  div.container {
    padding: 20px;
  }

 div.container ul li {
    font-size: medium;
    border: 5px solid #000000;
    margin-top: 60px;
    list-style-type: none; 
    padding: 20px;
  }

  div.container li:hover {
    background-color: #660000;
    color: #ffffff;
  }
  
