body {
    color: black;
    background-color: red;
    font-family: Helvetica;
    margin: 10%;
    padding: 4% 20% 4% 20%;
    cursor: crosshair;
  }
  
  nav {
    padding-top: 10%;
    padding-left: 10%; 
    border-style: none;
    text-align: right;
  }
  
  div.container h1 {
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
  }
  
 h3 {
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
  }
  
  p {
    font-size: medium;
    text-align: left;
  }

 div.container ul li {
    font-size: medium;
    padding: 20px;
    border: 5px dotted grey;
    margin-top: 60px;
  }

  div.container li:hover {
    background-color: blue;
  }
  
  