body {
    color: #ffffff;
    background-color: #330000;
    font-family: 'Fira Mono', monospace;
    margin: 4%;
    padding: 4% 4% 4% 4%;
    cursor: crosshair;
  }
  
  nav {
    padding-top: 2%;
    padding-left: 2%; 
    border-style: none;
    text-align: right;
  }
  
h1 {
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    color: #000000;
    font-family: 'Permanent Marker', cursive;
  }

  div.container h1{
      font-size: 25pt;
      text-align: left;
  }

 h2 {
    font-size: large;
    font-weight: bold;
    text-align: left;
    text-decoration: underline; 
    color: #ffffff;
  }
  
  p {
    font-size: medium;
    text-align: left;
  }

 div.container ul li {
    font-size: medium;
    padding: 20px;
    border: 5px solid #000000;
    margin-top: 60px;
    list-style-type: none; 
  }

  div.container li:hover {
    background-color: #660000;
    color: #ffffff;
  }
  
