body {
    color: #ffffff;
    background-color: #330000;
    font-family: 'Fira Mono', monospace;
    margin: 4%;
    padding: 0 4% 4% 4%; 
    cursor: crosshair;
  }
  
  nav {
    border-style: none;
    text-align: right;
    background-color: #867979;
  }

  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li{
    float: right;
  }

  nav li a{
    display: block;
    padding: 8px;
    background-color: #867979;
  }
  
h1 {
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    color: #000000;
    font-family: 'Permanent Marker', cursive;
  }

  div.container h1{
      font-size: 25pt;
      text-align: left;
  }

 h2 {
    font-size: large;
    font-weight: bold;
    text-align: left;
    text-decoration: underline; 
    color: #ffffff;
    padding-left: 20px;
  }
  
  p {
    font-size: medium;
    text-align: left;
  }

  div.container {
    padding: 20px;
  }

 div.container ul li {
    font-size: medium;
    border: 5px solid #000000;
    margin-top: 60px;
    list-style-type: none; 
    padding: 20px;
  }

  div.container li:hover {
    background-color: #660000;
    color: #ffffff;
  }
  
