<h1> Sign Up </h1>

<%= "Must include both email and password, and cannot already have account with the same email" if @user && @user.errors.any? %>
<form action='/users' method="POST">

<p> 
<label for="email"> Email:  <input type="text" name="email" id="email"> </label>
</p>

<p>
<label for="password"> Password: </label> <input type="password" name="password" id="password"> </p>
<input type="submit" id="submit">
</form>