<!DOCTYPE HTML>
<html>
  <head>
    <title>Horror Movie Tracker</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
      <link rel="icon" href="/icon/favicon.ico" />
<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Permanent+Marker&display=swap" rel="stylesheet">  

  </head>

<img src="/images/Horror_INTRO.png" id="intro_image" alt="Spooky Eyes">

<a id="enter_site" href="/movies"> Enter Site </a>