<!DOCTYPE HTML>
<html>
  <head>
    <title>Movie Tracker</title>
      
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  </head>
  <body>

    <nav>
     <a href="/login"> Login </a> 
     <a href="/logout"> Logout </a> 
     <a href="/movies"> Home </a>
    </nav>

    <h1> Movie Tracker </h1>
    <h3> For movie lovers </h3>

    <div class="container">
   

    <%= yield %>
 
 
    </div>
      
  </body>
</html>