<!DOCTYPE HTML>
<html>
  <head>
    <title>Horror Movie Tracker</title>
      
    <link rel="stylesheet" type="text/css" href="/stylesheets/application1.css" />
<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Permanent+Marker&display=swap" rel="stylesheet">  
  </head>
  <body>

    <nav>
     <a href="/movies"> Your Movies </a>
     <a href="/"> Main </a>
     <a href="/login"> Login </a> 
     <a href="/logout"> Logout </a> 
    </nav>

    <h1> Horror Movie Tracker </h1>

    <div class="container">
   

    <%= yield %>
 
 
    </div>
      
  </body>
</html>